<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
	<connectionStrings>
		<add name="TheDBContext" connectionString="Server=localhost;Database=master;Initial Catalog=ProjectsManagement; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>