<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="ShortLayout" value="${time} (${pad:padding=5:inner=${uppercase:${threadid}}}) [${pad:padding=5:inner=${uppercase:${level}}}] ${logger:shortName=True} - ${message} ${exception:format=tostring}"/>
  <variable name="LongLayout" value="${longdate} (${pad:padding=5:inner=${uppercase:${threadid}}}) [${pad:padding=5:inner=${uppercase:${level}}}] ${logger} - ${message} ${exception:format=tostring}"/>

  <variable name="LoggingFileName" value="Logs/Server.${date:format=yyyyMMdd}.log"/>

  <targets>
    <target name="FileLogger" xsi:type="File" layout="${ShortLayout}" fileName="${LoggingFileName}" encoding="UTF-8" />
    <target name="ConsoleLogger" xsi:type="ColoredConsole" layout="${ShortLayout}" useDefaultRowHighlightingRules="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ConsoleLogger" />
    <logger name="*" minlevel="Trace" writeTo="FileLogger" />
  </rules>
</nlog>