<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>حدث خطا في الصفحة</title>
</head>
<body>
    <hgroup>
        <h1>حدث خطا في الصفحة</h1>
        <h2>الرجاء تحديث الصفحة</h2>
    </hgroup>
</body>
</html>
