@{
    ViewBag.Title = "حول البرنامج";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<span style="font-size:larger">
    <p>
        برنامج ادارة وارشفة مشاريع الطلبة -
        الهدف من هذا النظام هو التعامل وتنظيم عملية اقتراح وتوزيع مشاريع التخرج للطلبة وايضا متابعة تطور العمل من قبل المشرف لطلبته
        لحين اكمال المشروع بالمناقشة ويارشف النظام جميع خطوات العمل التي يقوم برفعها الطالب للنظام
    </p>
</span>