@{
    ViewBag.Title = "معلومات الاتصال";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <span style="font-size:larger">
        تم المشروع بواسطة الطالبة :  <strong>تبارك حسين رباط</strong>
        <br />
        كجزء من متطلبات شهادة البكالوريوس للعام 2021-2022
        <br />
        في كلية الأمام الكاظم (علية السلام) قسم هندسة تقنيات الحاسوب
        <br />    
        تحت اشراف : <strong>م.عقيل كامل كاظم</strong> 
        <br />
    </span>
    <strong>Email:</strong>   <a href="mailto:Formtmy@gmail.com">Formtmy@gmail.com</a><br />
</address>